<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cafes</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    {% include "header.html" %}

    <div class="container">

        <div>
            <a href="{{ url_for("add_cafe") }}" class="btn btn-dark">Add Cafes</a>
        </div>
    
        {% for cafe in all_cafes: %}
            <div class="card my-4 p-4">
                <div class="card-head border-bottom pb-2">
                    <h3>{{ cafe.name }}</h3>
                    <span>{{ cafe.coffee_price }} per coffee</span>
                </div>
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <a href="{{ cafe.map_url }}">View Location</a>
                        <li>{{ cafe.seats }} Seats</li>
                        {% if cafe.has_toilet %}
                            <li>Toilets ✓</li>
                        {% endif %}
                        {% if cafe.has_wifi %}
                            <li>Wifi ✓</li>
                        {% endif %}
                        {% if cafe.can_take_calls %}
                            <li>Can Take Calls ✓</li>
                        {% endif %}
                        {% if cafe.has_sockets %}
                            <li>Sockets ✓</li>
                        {% endif %}
                    </div>
                    <div class="w-25 rounded" style="height: 200px; overflow: hidden;">
                        <img src="{{ cafe.img_url }}" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for("patch_new_price", cafe_id=cafe.id) }}" class="btn btn-primary">Update Price</a>
                    <a href="{{ url_for("delete_cafe", cafe_id=cafe.id) }}" class="btn btn-danger">Delete Cafe</a>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>