  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">Cafes & Wifis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('view_all_cafes') }}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('search') }}">Search</a>
        </li>
      </ul>
    </div>
  </nav>