{% include "header.html" %}
<body>
    <div class="cover-details-container">
        <div class="row">
            <div class="col-md-6">
                <div class="cover-details-img-container">
                    <img src="{{ cover.image }}" class="cover-details-img img-fluid" alt="{{ cover.title }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="cover-details-info">
                    <h1 class="cover-details-title">{{ cover.title }}</h1>
                    <hr class="cover-details-hr">
                    <p class="cover-details-price"><span class="canceled-price">Rs.1,299.00</span> {{ cover.price }}</p><p class="details-discount"> (62% Off)</p>
                    <p class="cover-details-model">Model: {{cover.model}}</p>
                    <div class="cover-offers">
                        <p class="cover-details-offers">Best Price : </p><p class="red-mark">Rs. 399.00</p>
                        <p class="offer-points">. Buy 2 (or more), Get FLAT 40% OFF</p>
                        <p class="offer-points">. Coupon Code : G2T5</p>
                        <p class="offer-points">. Special Offer (Today Only)</p>
                    </div>
                    {% if 2 >= cover.quantity and cover.quantity > 0 %}
                    <p class="cover-details-warning">Hurry Up Only  {{cover.quantity}} Left!</p>
                    {% endif %}
                    <div class="cover-details-toCart">
                        {% if cover.quantity > 0 %}
                            <a href="{{url_for('add_to_cart', cover_id=cover.id)}}">
                                <button type="button" class="btn btn-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                    </svg>
                                    ADD TO CART
                                </button>
                            </a>
                        {% else %}
                            <p class="text-danger">Sold Out</p>
                        {% endif %}
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
    <div class="product-advertisement">
        <img src="https://www.coverscart.com/image/p7/Metal_Desktop_1.jpg" class="advertisement-img">
        <img src="https://www.coverscart.com/image/p7/Metal_Desktop_2.jpg" class="advertisement-img">
        <img src="https://www.coverscart.com/image/p7/Metal_Desktop_3.jpg" class="advertisement-img">
    </div>
    <!-- Include Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MN5EU6xxzx5tjJ4P5ZdmsqREnFV4NpDpWW1P7x9O3IeW1lFqWAt4+0ZDE2tv3mm" crossorigin="anonymous"></script>
</body>
{% include "comments.html" %}
</html>
