{% include "header.html" %}
<body class="d-flex flex-column min-vh-100">
    <div class="container-the-form flex-grow-1"> 
        <div class="signin-container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="flashee">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2>Log In</h2>
            <form action="/login" method="post">
                <div class="signin-form-group">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="email" required>
                </div>

                <div class="signin-form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="signin-form-group">
                    <button type="submit">Log-in</button>
                </div>
            </form>
        </div>
    </div>
</body>
{% include "footer.html" %}